.message-container {
  overflow: hidden;
}

.message {
  height: 0;

  transform: translateY(10px);
  margin: 0;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: all var(--ease-out-t) var(--ease-out-c);

  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: start;
  gap: 5px;
  font-size: 0.9rem;

  &.message-visible {
    transform: none;
    margin: 5px 0;
    opacity: 1;
    pointer-events: all;
    user-select: auto;
  }
}

.outline {
  padding: 10px;
  border: 1px solid currentColor;
  border-radius: var(--radius);
}

.primary { border-color: var(--foreground) }
.dimmed { border-color: var(--gray-5) }
.error { border-color: var(--error) }
.success { border-color: var(--success) }
